* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --pandacolor: #ff2b85;
    --background: #ece6e6;
    --border: #1a0212;
    --fontcol: #fffcfc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
}

header {
    margin: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-title {
    font-weight: 800;
    font-size: 2rem;
    color: var(--pandacolor);
}

.head-text {
    display: flex;
    flex-direction: column;
}

.title-img {
    height: 4em;
    border-radius: 50px;
}

.header-subtitle {
    font-style: italic;
}

.title-outline {
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-left:3rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    padding: 1rem 3rem 3rem 3rem;
    border: 2px solid var(--border);
    border-radius: 20px;
    background-color: var(--pandacolor);
}

.title-section {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.7em;
    font-weight: 1000;
    color: var(--fontcol);
}

.input-section {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 600;
    gap: 0.3rem;
    font-size: 1.5rem;
}

.input-section input {
    font-size: 1.3rem;
    border-radius: 5px;
    border: 2px solid var(--border);
    padding: 0.3rem;
}

.total {
    color: var(--fontcol);
    font-size: 1.5rem;
    font-weight: 600;
}

.calculate {
    margin-top: 0.3em;
    font-size: 1.3rem;
    padding: 0.3em;
    border: 2px solid var(--border);
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--border);
    color: var(--fontcol);
}

.calculate:hover {
    background-color: var(--pandacolor);
}

.final-output {
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1em;
}

.remit-total {
    display: flex;
    background-color: var(--border);
    padding: 0.5em;
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.earnings {
    display: flex;
    background-color: var(--border);
    padding: 0.5em;
    border-radius: 20px;
    flex-direction: column;
}

.remit-label {
    font-weight: 800;
    color: #ff2b85;
    
}

.earn {
    font-weight: 800;
    color: #ff2b85;
}



.total-earn {
    margin-left: 0.9rem;
}

.remit {
    margin-left: 0.9rem;
}

.guide {
    margin: 1rem 2rem 2rem 2rem;
    padding: 0.5rem;
    display: flex;
    gap: 1.3rem;
    font-weight: 600;
}

.wallet {
    display: flex;
    flex-direction: column;
}
.wallet-label {
    margin-bottom: 0.3rem;

}

.earn-guide {
    display: flex;
    flex-direction: column;
}

.earn-label {
    margin-bottom: 0.3rem;
}

.img-wallet {
    height: 10em;
}

.img-earn {
    height: 10em;
}

footer {
    display: block;
    justify-content: center;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    color: var(--fontcol);
    align-items: center;
}

.footer-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--border);
    padding: 0.5em 1em;
}

.footer-title {
    padding-top: 0.3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.footer-note {
    font-size: 0.9rem;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
}